<div class="container-fluid">
   <h2 class="text-center">Create a New Quote</h2>
   <hr>
   <form>
      <div class="form-group">
         <label for="quote">Quote</label>
         <input type="text" required class="form-control" id="name">
      </div>
      <div class="form-group">
         <label for="author">Author</label>
         <textarea class="form-control" id="author" rows="4" required></textarea>
      </div>
      <div class="form-group">
         <label for="postedby">Posted By</label>
         <textarea class="form-control" id="postedby" rows="4" required></textarea>
      </div>
      <div class="form-group">
         <label for="votes">Votes</label>
         <textarea class="form-control" id="votes" rows="4" required></textarea>
      </div>
      <div class="form-group">
         <label for="datePosted">Date Posted</label>
         <input type='date' id="datePosted" required>
      </div>
   </form>
</div>